h1  {
color: red;
font-family: arial;
weight: 800;
}

.card {
  border-style: solid;
  border-width: thin;
  padding: 5px;
  margin-bottom: 15px;
}

ul  {
  list-style-type:none;
}

.card-title {
      font-family: arial;
    font-size: 2em;
    font-weight: 200;
}
