<!DOCTYPE html>
<!--[if lt IE 7]>       <html class="no-js lt-ie10 lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>          <html class="no-js lt-ie10 lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>          <html class="no-js lt-ie10 lt-ie9" lang="en"> <![endif]-->
<!--[if IE 9]>          <html class="no-js lt-ie10" lang="en"> <![endif]-->
<!--[if gt IE 9]><!-->  <html class="no-js" lang="en"> <!--<![endif]-->
    <head prefix="dcterms: http://purl.org/dc/terms">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, minimum-scale=1, maximum-scale=1">
    	<link rel="alternate" type="application/rss+xml" title="RSS" href="https://www.oxford.gov.uk/rss/news">
        <link rel="search" type="application/opensearchdescription+xml" title="Oxford City Council" href="https://www.oxford.gov.uk/site/scripts/opensearch.php">
        <link rel="shortcut icon" href="images/apple-icons/favicon.ico" type="image/x-icon" />
        <link rel="apple-touch-icon" href="images/apple-icons/apple-touch-icon.png">
        <link rel="apple-touch-icon" sizes="57x57" href="images/apple-icons/apple-touch-icon-57x57.png">
        <link rel="apple-touch-icon" sizes="72x72" href="images/apple-icons/apple-touch-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="76x76" href="images/apple-icons/apple-touch-icon-76x76.png">
        <link rel="apple-touch-icon" sizes="114x114" href="images/apple-icons/apple-touch-icon-114x114.png">
        <link rel="apple-touch-icon" sizes="120x120" href="images/apple-icons/apple-touch-icon-120x120.png">
        <link rel="apple-touch-icon" sizes="144x144" href="images/apple-icons/apple-touch-icon-144x144.png">
        <link rel="apple-touch-icon" sizes="152x152" href="images/apple-icons/apple-touch-icon-152x152.png">
        <link rel="apple-touch-icon" sizes="180x180" href="images/apple-icons/apple-touch-icon-180x180.png">
        <!--[if lte IE 8]>
            <link rel="stylesheet" href="styles/orbit-oldie.css">
        <![endif]-->
        <!--[if gt IE 8]><!-->
            <link rel="stylesheet" href="/styles/orbit.css">
        <!--<![endif]-->
            <link rel="stylesheet" href="/styles/custom.css">
            <link rel="stylesheet" href="/styles/font-awesome/css/font-awesome.min.css">

        <script src="/js/modernizr.js"></script>
        <!--[if lt IE 9]>
        <script src="js/ie9-index.js"></script>
        <![endif]-->
        <title>Digital Development Team Display | Oxford City Council</title>
    </head>
    <body class="one-column">

        <main class="site-main fade-in two" role="main" id="content" tabindex="-1">
            <div class="site-main__page-heading">
                <h1 class="container page-heading">{{page.title}}</h1>
            </div>
            <div class="container">
                <div class="site-content">
                    <article>
                        <div class="editor">
                            {{content}}
                        </div>
                    </article>
                </div>
            </div>
        </main>

        <script src="/js/jquery.min.js"></script>
        <script src="/js/orbit.js"></script>

    </body>
</html>
