---
layout: blog
---

<h3 class="meta">{{ page.date | date_to_string }}</h3>

<body>
<div class="post">
  {{ content }}

<p></p>
<p></p>
<div class="facts">
    <ul class="fa-ul">
        <li><a href="{{site.url}}/blog/index.html"><i class="fa-li fa fa-arrow-circle-left" aria-hidden="true"></i>Back to blog index</a></li>
        <li><a href="{{site.url}}/blog/atom.xml"><i class="fa-li fa fa-rss-square" aria-hidden="true"></i>Subscribe to feed</a></li>
        <li><a href="mailto:digitaldevelopmentteam@oxford.gov.uk"><i class="fa-li fa fa-envelope" aria-hidden="true"></i>Digital Development Team</a></li>    
    </ul>
</div>
</body>
</div>
