---
layout: blog
---

<h3 class="meta">{{ page.date | date_to_string }}</h3>

<body>
<div class="post">
  {{ content }}

<p></p>
<ul class="fa-ul">
    <li><i class="fa-li fa fa-arrow-circle-left" aria-hidden="true"></i><a href="{{site.url}}/blog/index.html">Back to blog index</a></li>
    <li><i class="fa-li fa fa-rss-square" aria-hidden="true"></i><a href="{{site.url}}/blog/atom.xml">Subscribe to feed</a></li>
    <li><i class="fa-li fa fa-users" aria-hidden="true"></i>We receive BLover  240,000 telephone calls and deal with over 44,500 face-to-face enquiries each year</li>
</ul>
</body>
</div>
